/*
    --- Main Wrapper ---
    This class wraps the tag cloud and can be used to
    create general styles around the tags / container
*/
.tc-wrapper {
    display: block;
    height: 100%;
}

/*
    --- Tag ---
    This class is the styling for individual tags
*/
.tc-tag {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 0;
    background: #eee;
    cursor: pointer;
}

/*
    --- Selected Tag ---
    This class is the styling for individual tags
    that have been selected
*/
.tc-selected {
    background: #c5c5c5;
}
